.dataDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
}

/* chart.js adds a first child in dataDisplay so we remove the margin-top for the second child. */
.dataDisplay > * + *:not(:nth-child(2)) {
  margin-top: 1.5rem;
}
